body {
  color: #003543;
}

.container {
  @apply mx-auto px-4;
}

h1 {
  font-size: 50px;
  @media (max-width: 768px) {
    font-size: 30px;
  }
}
h2 {
  font-size: 30px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  svg {
    margin-right: 20px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #6c6c6ca1;
}

ul {
  padding-left: 10px;
  list-style: disc;
  li {
    margin: 10px 0;
  }
}
